header{
    height: 50px;
    background-color: white;
}

body{
    margin: 0;
    padding: 0;
    background: url("../images/back.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

p{
    font-size: 21px;
    line-height: 31px;
    text-shadow: none;

}

#creation, #connexion{
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    margin-top: 20px;
    color: black;
}

input{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #ccd6dd;
    outline: 0 none;
    padding: 4px;
}

button{
    background-color: #52A6E6;
    box-shadow: 0 1px 0 #fff;
    color: white;
    border: 1px solid #3b88c3;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
}

.blue{
    background-color: #0b97c4;
}

.jumbotron{
    margin: 0;
    padding: 30px;
}

#map{
    background-color: #8699a4;
}

.white{
    background-color: white;
}

.step{
    width: 100%;
    height: 100%;
}

.font-green{
    color: #A9CB6E;
}

.icon{
    border-radius: 50%;
    background-color: #8699a4;
    text-decoration: none;
}

.sampleLink, .sampleLink:hover, .sampleLink:visited{
    text-decoration: none;
}

.sampleLink:hover > .icon{
    background-color: #A9CB6E;
    transform: scale(1.2);
}

.sampleLink:hover > h2{
    color:#A9CB6E;
}

.inline{
    display: inline-block;
}

.emphase{
    font-size: 2em;
}